<ns-side-drawer>
        <Label [text]="botText" class="m-l-10 m-t-10 h3"></Label> <!-- Bottle input -->
        <Button text="Reset" class="-primary" width="70" horizontalAlignment="left" height="45" (tap)="resetQuant()"></Button>

        <StackLayout class="hr m-10"></StackLayout>

        <Label [text]="distText" class="m-l-10 h3"></Label> <!-- Bottle input -->
        <Button text="Reset" class="-primary" width="70" horizontalAlignment="left" height="45" (tap)="resetDist()"></Button>

    </ns-side-drawer>
